<!-- faq.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs', { pageTitle: 'FAQ' }); %>

    <body>
        <%- include('common/header.ejs'); %>
            <!-- main -->
            <main class="main">
                <div class="main-item vflex align-items-stretch">
                    <div class="py-4">
                        <h2 class="heading-noline display-6">How do I book a tee time?</h2>
                        <hr class="divider my-2">
                        <p>We do not offer traditional tee times. As an executive par-3 course, we enjoy providing the
                            freedom to
                            come and play without the hassle of booking a time. You are welcome to visit us
                            during our open hours, head up to the clubhouse to pay the green fee, and start playing!</p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading-noline display-6">What are your hours?</h2>
                        <hr class="divider my-2">
                        <p>Our hours of operation may vary throughout the season, please refer to the <a href='/#hours'
                                class='hover transition' style='color: #9d7700;'>Hours section</a> to see our current
                            hours.</p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading-noline display-6">Do you have golf carts?</h2>
                        <hr class="divider my-2">
                        <p>We offer manual pull carts for golfers to use during a round. The trail throughout the course
                            is a beautiful, well-shaded walk that leaves many customers feeling well-exercised and
                            satisfied after a round.</p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading-noline display-6">What are your green fees and driving range prices?</h2>
                        <hr class="divider my-2">
                        <p>Our rates for the course, driving range, and memberships may vary from year to year. For full
                            details on current prices, please visit our up-to-date<br><a href='/rates-fees'
                                class='hover transition' style='color: #9d7700;'>Rates & Fees</a> page.
                        </p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading-noline display-6">Do you have a practice green?</h2>
                        <hr class="divider my-2">
                        <p>We have a large practice green located near the driving range where you can improve your
                            skills before playing a round. The use of the practice green is free of charge and open to
                            all.</p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading-noline display-6">Do you have grass tee boxes at the driving range?</h2>
                        <hr class="divider my-2">
                        <p>We provide grass tee boxes at our driving range for a rate of $3 for golfers to use during the
                            season, as the grass becomes damaged with frequent use. Please note that these tee boxes
                            are not available for the entire season.</p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading-noline display-6">Can I play 18 holes?</h2>
                        <hr class="divider my-2">
                        <p>Our 9-hole course offers the flexibility to play either 9 or 18 holes by playing the course
                            twice. If you plan to play 18 holes, please let us know when paying for your green fee to
                            receive the appropriate rate.</p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading-noline display-6">What amenities do you have?</h2>
                        <hr class="divider my-2">
                        <p>We have a variety of facilities and amenities available for your enjoyment, including:
                        <ul>
                            <li>Large practice green</li>
                            <li>9 hole golf course</li>
                            <li>Driving range</li>
                            <li>Recycled golf balls</li>
                            <li>Rental club sets</li>
                            <li>Washrooms</li>
                            <li>Canteen</li>
                        </ul>
                        Come and experience all that we have to offer!
                        </p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading-noline display-6">Can I book a tournament or event with a group of players?
                        </h2>
                        <hr class="divider my-2">
                        <p>We welcome groups who are interested in booking a tournament or event at our course. To
                            ensure that we can accommodate your group properly, we kindly ask that you contact us in
                            advance. Please visit our <a href="/contact" class="hover transition"
                                style="color: #9d7700;">Contact Us</a> page for any inquires.
                        </p>
                    </div>
                </div>
            </main>
            <%- include('common/footer.html'); %>
    </body>

</html>