<!-- faq.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs', { pageTitle: 'FAQ' }); %>
    <body>
        <%- include('common/header.ejs'); %>
            <!-- main -->
            <main class="main">
                <div class="main-item vflex align-items-stretch">
                    <div class="py-4">
                        <h2 class="heading display-6">How do I book a tee time?</h2>
                        <hr class="divider pb-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum pariatur vel incidunt
                            doloremque voluptas molestiae.</p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading display-6">What are your hours?</h2>
                        <hr class="divider pb-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum pariatur vel incidunt
                            doloremque voluptas molestiae.</p>
                    </div>
                    <div class="py-4">
                        <h2 class="heading display-6">Do you have pull carts?</h2>
                        <hr class="divider pb-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum pariatur vel incidunt
                            doloremque voluptas molestiae.</p>
                    </div>
                </div>
            </main>
            <%- include('common/footer.html'); %>
    </body>
</html>