<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs', { pageTitle: 'Home' }); %>

    <body>
        <%- include('common/header.ejs'); %>
            <!-- main -->
            <main class="main">
                <div class="main-item">
                    <h2 class="heading display-5 text-center">Golfing at The Grove</h2>
                    <p class="text-restrict text-center">
                        Cedar Groves Executive Par 3 Golf Course and Driving Range is an attractive nine-hole course
                        located comfortably between Saint John and Rothesay in the shadows of Dolan Lake.
                        <br><br>
                        With most holes having three decks to tee off from, the course offers a great challenge for
                        golfers of all levels. In addition to the two Par 4 holes and seven Par 3 holes, there is a
                        driving range and a large practice green where golfers can sharpen their skills before heading
                        out for a round.
                    </p>
                </div>

                <!-- hours and weather -->
                <div class="main-item">
                    <h2 class="heading display-6">Hours</h2>
                    <div>
                        Our hours may be updated throughout the season.<br>Check here for the most up-to-date hours
                        of operation.
                    </div>
                    <div class="hours-table">
                        <table>
                            <tr>
                                <td>Sunday</td>
                                <td>9<span class="ampm">am</span> &mdash; 8:30<span class="ampm">pm</span></td>
                            </tr>
                            <tr>
                                <td>Monday</td>
                                <td>9<span class="ampm">am</span> &mdash; 8:30<span class="ampm">pm</span></td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td>9<span class="ampm">am</span> &mdash; 8:30<span class="ampm">pm</span></td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td>9<span class="ampm">am</span> &mdash; 8:30<span class="ampm">pm</span></td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>9<span class="ampm">am</span> &mdash; 8:30<span class="ampm">pm</span></td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>9<span class="ampm">am</span> &mdash; 8:30<span class="ampm">pm</span></td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>9<span class="ampm">am</span> &mdash; 8:30<span class="ampm">pm</span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="weather-widget">
                        <h2 class="heading display-6">Conditions on the Course</h2>
                        <a class="weatherwidget-io" href="https://forecast7.com/en/45d27n66d06/saint-john/"
                            data-label_1="CEDAR GROVES" data-label_2="WEATHER" data-font="Open Sans" data-days="5">CEDAR
                            GROVES WEATHER</a>
                        <script src="scripts/weather_widget.js" charset="utf-8"></script>
                    </div>
                </div>




                <!-- join community -->
                <div class="main-item">

                </div>

                <!-- video -->
                <div class="main-item">
                    <h2 class="heading display-5 text-center">Experience Cedar Groves</h2>
                    <p class="text-restrict text-center mb-4">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex e.
                    </p>
                    <video id="drone-video" class="shadow" width="100%" preload controls
                        controlslist="nodownload noplaybackrate" disablePictureInPicture poster="assets/drone-1.png">
                        <source src="assets/videos/drone.mp4#t=1" type="video/mp4">
                    </video>

                </div>

                <!-- reviews -->
                <div class="main-item">

                </div>


            </main>
            <%- include('common/footer.html'); %>
    </body>

</html>