<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('common/head.ejs', { pageTitle: 'Home' }); %>

    <body>
        <%- include('common/header.ejs'); %>
            <!-- main -->
            <main class="main">
                <div class="main-item">
                    <h2 class="heading display-6 text-center">Golfing at The Groves</h2>
                    <p class="text-restrict text-center">
                        Cedar Groves Executive Par 3 Golf Course and Driving Range is an attractive nine-hole course
                        located between Saint John and Rothesay, nestled in the shadows of Dolan Lake.
                        <br><br>
                        Nestled between Saint John and Rothesay, Cedar Groves is a stunning nine-hole course that
                        provides
                        a satisfying challenge for golfers of all
                        levels. With three teeing options on most holes, the course offers a great playing experience.
                        In addition to the seven Par 3 holes, there are two Par 4 holes, a driving range, and a spacious
                        practice green to hone your skills.
                    </p>
                </div>
                <!-- hours and weather -->
                <div class="main-item large full-bleed" id="hours">
                    <div class="hours-area flex justify-content-between g-32 py-4">
                        <div class="hours-wrapper vflex g-8">
                            <h2 class="heading display-6">On the Course</h2>
                            <p class="text-center">Come to Cedar Groves for a beautiful day with friends and family,
                                whether you have time for a quick 9 holes or a full day at the range.</p>
                            <p class="text-center">
                                Our hours may be updated throughout the season.<br>Check here for the most
                                up-to-date hours of operation.
                            </p>
                            <h6 class="py-2">
                                Monday &mdash; Sunday &emsp; 9<span class="font-xs text-uppercase">am</span> &mdash;
                                8:30<span class="font-xs text-uppercase">pm</span>
                            </h6>
                            <div class="weather-widg">
                                <a class="weatherwidget-io w-100"
                                    href="https://forecast7.com/en/45d27n66d06/saint-john/" data-label_1="CEDAR GROVES"
                                    data-label_2="WEATHER" data-font="Open Sans" data-days="3">CEDAR GROVES WEATHER</a>
                            </div>
                            <script src="scripts/weather_widget.js" charset="utf-8"></script>
                        </div>
                        <img src="assets/images/drone-3.jpg" alt="Course"
                            class="shadow-2 transition-long border-rad hov-enlarge">
                    </div>
                </div>
                <!-- join community -->
                <div class="main-item large">
                    <div class="join-wrapper vflex g-32">
                        <h2 class="heading display-6 text-center">Join the Community</h2>
                        <div class="join-box flex g-32">
                            <div class="vflex align-items-start flex-eq g-16">
                                <img src="assets/icons/tee.svg" alt="Golf Icon" style="width: 8%;">
                                <h4 class="text-start">The Range</h4>
                                <p class="text-start">Unwind and practice your swing at our 250 yard driving
                                    range, complete with target greens, distance markers, and a practice green.</p>
                            </div>
                            <div class="flex-eq">
                                <img src="assets/images/drone-15.jpg" class="border-rad transition-long hov-enlarge"
                                    alt="Range">
                            </div>
                        </div>
                        <div class="join-box flex g-32">
                            <div class="order flex-eq">
                                <img src="assets/images/drone-5.jpg" class="border-rad transition-long hov-enlarge"
                                    alt="Member">
                            </div>
                            <div class="vflex align-items-end flex-eq g-16">
                                <img src="assets/icons/clubhouse.svg" alt="Club Icon" style="width: 8%;">
                                <h4 class="text-end">Become a Member</h4>
                                <p class="text-end">Take your game to the next level with a membership at Cedar Groves'
                                    to enjoy our nine-hole course, driving range, and practice green.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- video -->
                <div class="main-item">
                    <h2 class="heading display-6 text-center">Experience Cedar Groves</h2>
                    <p class="text-restrict text-center mb-4">
                        Soar above Cedar Groves and witness all aspects of our course. From lush greenery to
                        serene bodies of water, our facility offers an unforgettable experience for golfers of all
                        levels.
                    </p>
                    <video id="myVideo" class="shadow" preload="" controls="" controlslist="nodownload noplaybackrate"
                        disablepictureinpicture="" poster="assets/images/drone-1.jpg">
                        <source src="assets/drone.mov" type="video/mp4">
                    </video>
                </div>
                <!-- reviews -->
                <div class="main-item">
                    <h2 class="heading display-6 text-center">What We've Heard</h2>
                    <div class="vflex g-16">
                        <p class="text-restrict text-center">
                            At Cedar Groves, we are dedicated to providing our guests with an exceptional experience.
                            Don't just take our word for it &mdash; read reviews from other visitors to see what they
                            loved
                            about their time on our course.
                        </p>
                        <div class="review-area w-100">
                            <!-- Slider main container -->
                            <div class="swiper p-2">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide">
                                        <div class="review-card shadow-1 border-rad vflex justify-content-start p-4">
                                            <div class="stars flex g-4">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <p class="text-center font-weight-light py-2">
                                                I love this course, the people who work there are friendly the course is
                                                great. I
                                                love the lay out and it has helped my my chip game a ton.
                                            </p>
                                            <h6 class="text-center">Allan Shephard</h6>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="review-card shadow-1 border-rad vflex justify-content-start p-4">
                                            <div class="stars flex g-4">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <p class="text-center font-weight-light py-2">
                                                By far the most executive par 3 I have ever played. Best greens in the
                                                city
                                                and the tee boxes were very well maintained. I took my boss for a quick
                                                9
                                                after work and got a raise out of it.
                                            </p>
                                            <h6 class="text-center">Carson Dorcas</h6>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="review-card shadow-1 border-rad vflex justify-content-start p-4">
                                            <div class="stars flex g-4">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <p class="text-center font-weight-light py-2">
                                                Awesome place. Great staff. Ample tee areas. Great putting green. They
                                                only thing
                                                you
                                                really need is ice cream!
                                            </p>
                                            <h6 class="text-center">D Conzie Connell</h6>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="review-card shadow-1 border-rad vflex justify-content-start p-4">
                                            <div class="stars flex g-4">
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                                <i class="bi bi-star-fill"></i>
                                            </div>
                                            <p class="text-center font-weight-light py-2">
                                                I love this course, the people who work there are friendly the course is
                                                great. I
                                                love the lay out and it has helped my my chip game a ton.
                                            </p>
                                            <h6 class="text-center">Allan Shephard</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>

                            </div>














                            <!-- <div class="review-card shadow-1 border-rad vflex justify-content-start flex-eq p-4">
                                <div class="stars flex g-4">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <p class="text-center font-weight-light py-2">
                                    I love this course, the people who work there are friendly the course is great. I
                                    love the lay out and it has helped my my chip game a ton.
                                </p>
                                <h6 class="text-center">Allan Shephard</h6>
                            </div>
                            <div class="review-card shadow-1 border-rad vflex justify-content-start flex-eq p-4">
                                <div class="stars flex g-4">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <p class="text-center font-weight-light py-2">
                                    By far the most executive par 3 I have ever played. Best greens in the city
                                    and the tee boxes were very well maintained. I took my boss for a quick 9
                                    after work and got a raise out of it.
                                </p>
                                <h6 class="text-center">Carson Dorcas</h6>
                            </div>
                            <div class="review-card shadow-1 border-rad vflex justify-content-start flex-eq p-4">
                                <div class="stars flex g-4">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                </div>
                                <p class="text-center font-weight-light py-2">
                                    Awesome place. Great staff. Ample tee areas. Great putting green. They only thing
                                    you
                                    really need is ice cream!
                                </p>
                                <h6 class="text-center">D Conzie Connell</h6>
                            </div> -->
                        </div>
                        <a href="https://g.page/r/CbNd-HdtLRAYEBM/review" target="_blank">
                            <button class="button-1">Leave a Review</button>
                        </a>
                    </div>
                </div>
            </main>
            <%- include('common/footer.html'); %>
    </body>
    <script src="scripts/swiper.js" defer></script>

</html>