/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500;600&family=Cormorant+SC&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

:root {
    --color-prim: #333333;
    --color-acc: #283927;
    --color-sec: #e1dbaa;
    --color-main: #fffcf7;
    --color-white: #ffffff;
    --max-width: 1300px;
}

/* defaults */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-prim);
    font-size: 15px;
    background-color: var(--color-main);
    line-height: 2;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, hr {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-prim);
    transition: color 0.2s ease-in-out;
}

/* utilities */
.heading {
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    line-height: 2;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider {
    border-top: solid 1.5px var(--color-white);
    opacity: 1;
    width: 200px;
}

.text-restrict {
    max-width: calc(var(--max-width) / 1.5);
    margin: auto;
}

.full-bleed {
    box-shadow: 0 0 0 100vmax var(--color-sec);
    clip-path: inset(0 -100vmax);
}

.shadow1 {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}






/* nav */ 
.navbar-content {
    max-width: var(--max-width);
}

.nav-area {
    color: var(--color-white);
}

.nav-area .nav-link {
    color: var(--color-white);
    transition: opacity 0.2s ease-in-out;
}

.nav-area .nav-link:hover {
    opacity: 0.7;
}

.navbar {
    padding: 16px 0;
    transition: background-color 0.3s ease-in-out;
}

.navbar-nav {
    gap: 24px;
}

.navbar-wrapper {
    display: flex;
    gap: 24px;
}

.navbar-sticky {
    position: fixed;
    background-color: var(--color-acc);
    width: 100%;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

.navbar-sticky .logo > img {
    display: none;
}

#mobile-nav {
    width: 80%;
    transition: transform .5s cubic-bezier(.645, .045, .355, 1), visibility .5s cubic-bezier(.645, .045, .355, 1);
    background-color: var(--color-acc);
}

.nav-button {
    color: var(--color-white);
    background: none;
    border: none;
    line-height: 0px;
    font-size: 36px;
    padding: 0;
}

.nav-button:focus {
    outline: none;
}

.logo {
    flex-direction: column;
    color: var(--color-white);
    font-size: 28px;
    font-family: 'Cormorant SC', serif;
    line-height: 1;
}

.logo > img {
    width: 130px;
}

.logo:hover {
    color: var(--color-white);
}


/* header */ 
.header {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-heading {
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
}

.hero-text {
    flex-direction: column;
    color: #fff;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    gap: 12px;
}

.hero-sub {
    font-style: italic;
}


/* main */
.main {
    margin: auto;
    background-color: var(--color-main);
}

.main-item {
    max-width: calc(var(--max-width) - 200px);
    margin: auto;
    padding: 28px 16px;
}


.hours-table {
    padding: 32px 0;
}

.hours-table > table {
    width: 300px;
}

.ampm { 
    font-size: 11px;
    text-transform: uppercase;
}

.review-wrapper {
    gap: 16px;
    padding: 8px;
}   

.review-card {
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 0;
    background-color: var(--color-white);
    padding: 24px;
    border-radius: 4px;
    height: 325px;
}

.review-card > p {
    padding: 8px 0 12px 0;
    font-weight: 300;
}

.stars {
    color: #d4be19;
    gap: 1px;
}










/* footer */
.footer {
    align-items: normal;
    flex-direction: column;
    background-color: var(--color-acc);
    padding: 8px;
    margin-top: 48px;
    color: var(--color-main);
}

.footer-wrapper {
    align-items: flex-start;
    justify-content: space-around;
    padding: 24px 0;
}

.footer-content-area {
    display: flex;
    justify-content: center;
    flex: 1 0 0;
}

.footer-content-area > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.footer-bottom {
    flex-direction: column;
    gap: 8px;
    padding-top: 16px;
}

.footer-heading {
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
}

.footer-link {
    color: var(--color-main);
    transition: opacity 0.2s ease-in-out;
}

.footer-logo {
    flex-direction: column;
    gap: 8px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-area {
    font-size: 20px;
    gap: 16px;
}

.social-area i {
    color: var(--color-main);
    transition: opacity 0.2s ease-in-out;
}

.social-area i:hover, .footer-link:hover {
    color: var(--color-main);
    opacity: 0.7;
}

.copyright {
    font-size: 12px;
    padding: 8px 0;
    opacity: 0.7;
  }










/* responsive */
@media (max-width: 576px) {
    .hero-sub {
        font-size: 18px;
    }

    
}

@media (min-width: 992px) {
    nav > .nav-button {
        display: none;
    }

}

@media (max-width: 992px) {
    .navbar .navbar-nav {
        display: none;
    }

    .navbar-nav {
        gap: 0px;
    }

    .nav-item:not(:last-child) {
        border-bottom: solid 0.5px #8e8e8e;
    }

    .nav-link {
        padding: 18px 0;
    }

    .navbar .logo > img {
        display: none;
    }

    .navbar .logo {
        font-size: 30px;
        text-align: center;
        flex-grow: 1;
        align-items: flex-start;
    }

    .navbar-sticky {
        height: 68px;
    }   

    .review-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .footer {
        align-items: center;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        padding: 24px 0 0 0;
    }
    
    .footer-content-area > div {
        padding: 16px;
        align-items: center;
    }


}