<!-- footer.html -->
<footer class="footer vflex p-3 mt-4">
    <div class="footer-wrapper flex justify-content-around align-items-start py-4">
        <div class="footer-content-area flex flex-grow-1">
            <div class="vflex align-items-start g4">
                <div class="vflex g8">
                    <div class="logo vflex">
                        <img src="assets/logo.svg" alt="Logo" style="width: 150px;">
                        <span>Cedar Groves</span>
                    </div>
                    <p class="footer-address text-center">
                        2000 Golden Grove Road<br>Saint John, NB, E2N 2A1
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-content-area flex flex-grow-1">
            <div class="vflex align-items-start g4">
                <h3 class="heading-noline">Contact</h3>
                <div class="contact-item flex g8">
                    <i class="bi bi-envelope-open"></i>
                    <a href="mailto:cedargrovespar3@gmail.com"
                        class="footer-link transition hover">cedargrovespar3@gmail.com</a>
                </div>
                <div class="contact-item flex g8">
                    <i class="bi bi-telephone"></i>
                    <a href="tel:5068477273" class="footer-link transition hover">(506) 847-7273</a>
                </div>
                <div class="contact-item flex g8">
                    <i class="bi bi-geo-alt"></i>
                    <a href="https://goo.gl/maps/KqfRJ4TyofZB3y9a7" target="_blank"
                        class="footer-link transition hover">Location</a>
                </div>
            </div>
        </div>
        <div class="footer-content-area flex flex-grow-1">
            <div class="vflex align-items-start g4">
                <h3 class="heading-noline">Learn More</h3>
                <a href="#" class="footer-link transition hover">About Us</a>
                <a href="#" class="footer-link transition hover">Aerial Tour</a>
                <a href="#" class="footer-link transition hover">Rules & Regulations</a>
                <a href="/#hours" class="footer-link transition hover">Hours of Operation</a>
            </div>
        </div>
        <div class="footer-content-area flex flex-grow-1">
            <div class="vflex align-items-start g4">
                <h3 class="heading-noline">Questions</h3>
                <a href="/contact" class="footer-link transition hover">Contact Us</a>
                <a href="/faq" class="footer-link transition hover">FAQ</a>
                <a href="#" class="footer-link transition hover">Leave a Review</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom vflex g4">
        <div class="social-area flex g16 font-md">
            <a href="https://www.facebook.com/CedarGrovesGolf/" class="transition hover" target="_blank"><i
                    class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/cedargrovespar3/" class="transition hover" target="_blank"><i
                    class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/cedargrovespar3/" class="transition hover" target="_blank"><i
                    class="bi bi-linkedin"></i></a>
        </div>
        <div class="copyright text-center font-xs" style="opacity: 0.7;">
            &copy; <span id="year"></span> Cedar Groves Executive Par 3 & Driving Range
        </div>
    </div>
    <script type="text/javascript">
        $('#year').html(new Date().getFullYear());
    </script>

</footer>