<!-- footer.html -->
<footer class="footer flex">
    <div class="footer-wrapper flex">
        <div class="footer-content-area">
            <div>
                <div class="footer-logo flex">
                    <div class="logo flex">
                        <img src="assets/logo.svg" alt="Logo">
                        <span>Cedar Groves</span>
                    </div>
                    <p class="footer-address text-center">
                        2000 Golden Grove Road<br>Saint John, NB, E2N 2A1
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-content-area">
            <div>
                <h3 class="footer-heading">Contact</h3>
                <div class="contact-item">
                    <i class="bi bi-envelope-open"></i>
                    <a href="mailto:cedargrovespar3@gmail.com" class="footer-link">cedargrovespar3@gmail.com</a>
                </div>
                <div class="contact-item">
                    <i class="bi bi-telephone"></i>
                    <a href="tel:5068477273" class="footer-link">(506) 847-7273</a>
                </div>
                <div class="contact-item">
                    <i class="bi bi-geo-alt"></i>
                    <a href="https://goo.gl/maps/KqfRJ4TyofZB3y9a7" target="_blank" class="footer-link">Location</a>
                </div>
            </div>
        </div>
        <div class="footer-content-area">
            <div>
                <h3 class="footer-heading">Learn More</h3>
                <a href="#" class="footer-link">About Us</a>
                <a href="#" class="footer-link">Aerial Tour</a>
                <a href="#" class="footer-link">Rules & Regulations</a>
                <a href="#" class="footer-link">Hours of Operation</a>
            </div>
        </div>
        <div class="footer-content-area">
            <div>
                <h3 class="footer-heading">Questions</h3>
                <a href="#" class="footer-link">Contact Us</a>
                <a href="#" class="footer-link">FAQ</a>
                <a href="#" class="footer-link">Leave a Review</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom flex">
        <div class="social-area flex">
            <a href="https://www.facebook.com/CedarGrovesGolf/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/cedargrovespar3/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="copyright text-center">
            &copy; <span id="year"></span> Cedar Groves Executive Par 3 & Driving Range
        </div>
    </div>
    <script type="text/javascript">
        $('#year').html(new Date().getFullYear());
    </script>

</footer>